<div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1>Polish Pinball Open 2016</h1>
        <p>Welcome. This year event will kick ass... even more then the last one.</p>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>What</h2>
        <p>The best pinball tournament ever created.</p>
      </div>
      <div class="col-md-4">
        <h2>Where</h2>
        <p>At the best location in the world!</p>
      </div>
      <div class="col-md-4">
        <h2>When</h2>
        <p>June 4th and 5th 2016</p>
      </div>
    </div>
  </div>
</div>