<div class="container">
  <% if notice %>
      <div class="container alert alert-danger">
        <%= notice %>
      </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <%= render 'login' %>
      </div>
    </div>
  </div>
</div>