<div class="container">
  <div class="alert alert-success">
    <div class="text-center">
      Registration complete. We have sent you an email with activation link. Please click on it to activate your account.
    </div>
  </div>
</div>